*{
    --primary-bg:#0c0f38;
    --second-bg:#ffffff;

    --primary-text-color: #ffffff;
    --second-text-color: #0c0f38;
    --third-text-color: #000000;

    --hover-link-color: #fdd430;
    --active-link-color: #fdd430;
    
    --main-padding-top: 30px;
    --main-padding-bottom: 10px;
    --main-padding-left: 200px;
    --main-padding-right: 200px;

    
}