@import "../variables.css";
.decode {
    background-color: var(--second-bg);
    min-height: inherit;
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-right);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--second-text-color);
}

.decode > h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: -60px;
}

.decode > .text {
    margin-top: -30px;
    margin-bottom: 60px;
}

.decode > .card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}


@media (max-width: 576px) {
    .decode{
        margin: 0;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .decode h1{
        margin: 0;
        line-height:normal;
        margin-bottom: 20px;
    }

    .decode .text{
        margin: 0;
        margin-bottom: 40px;
    }

    .decode .card{
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-bottom: 30px;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .decode{
        margin: 0;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .decode h1{
        margin: 0;
        line-height:normal;
        margin-bottom: 20px;
    }

    .decode .text{
        margin: 0;
        margin-bottom: 40px;
    }

    .decode .card{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        width: 60%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .decode{
        margin: 0;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .decode h1{
        margin: 0;
        line-height:normal;
        margin-bottom: 20px;
    }

    .decode .text{
        margin: 0;
        margin-bottom: 40px;
    }

    .decode .card{
        gap: 30px;
        justify-content: center;
        width: 100%;
    }
}