@import "../variables.css";
.encode {
    background-color: var(--primary-bg);
    min-height: inherit;
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-right);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--primary-text-color);
}

.encode h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: -60px;
}

.encode .text {
    margin-top: -30px;
    margin-bottom: 60px;
}

.encode .card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 0;
    margin-bottom: 60px;
}
