@import "../variables.css";
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    /* background-color: aqua; */
    height: 51px;
    padding-top: var(--main-padding-top);
    padding-left: var(--main-padding-left);
    padding-bottom: var(--main-padding-bottom);
    padding-right: var(--main-padding-right);
}

@media (max-width: 576px) {
    .header {
        padding-top: var(--main-padding-top);
        padding-left: var(--padding-left-small);
        padding-bottom: var(--main-padding-bottom);
        padding-right: var(--padding-right-small);
        background-color: rgb(143, 95, 175);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header {
        padding-top: var(--main-padding-top);
        padding-left: var(--padding-left-medium);
        padding-bottom: var(--main-padding-bottom);
        padding-right: var(--padding-right-medium);
        background-color: yellow;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header {
        padding-top: var(--main-padding-top);
        padding-left: var(--padding-left-medium);
        padding-bottom: var(--main-padding-bottom);
        padding-right: var(--padding-right-medium);
        background-color: red;
    }
}
