@import "../variables.css";
.introduction{
    background-color: var(--second-bg);
    min-height: inherit;
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-right);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction h1{
    color: var(--second-text-color);
    font-size: 45px;
    font-weight: bold;
    margin-top: -60px;
}

.introduction img{
    width: 400px;
    height: 280px;
}

.introduction p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .introduction{
        padding-left: var(--padding-left-small);
        padding-right: var(--padding-right-small);
        background-color: blueviolet;
        min-height: inherit;
        padding-bottom: 20px;
    }
    .introduction h1{
        font-size: 30px;
        text-align: center;
        margin-top: 0;
        padding-top: 10px;
    }
    .introduction img{
        width: 100%;
    }
    .introduction p{
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .introduction{
        padding-left: var(--padding-left-small);
        padding-right: var(--padding-right-small);
        background-color: blueviolet;
        min-height: inherit;
        padding-bottom: 20px;
    }
    .introduction h1{
        font-size: 30px;
        text-align: center;
        margin-top: 0;
        padding-top: 10px;
    }
    .introduction img{
        width: 100%;
    }
    .introduction p{
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .introduction{
        padding-left: var(--padding-left-small);
        padding-right: var(--padding-right-small);
        background-color: blueviolet;
        min-height: inherit;
        padding-bottom: 20px;
    }
    .introduction h1{
        font-size: 30px;
        text-align: center;
        margin-top: 0;
        padding-top: 10px;
    }
    .introduction img{
        width: 100%;
    }
    .introduction p{
        width: 70%;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}