@import "../variables.css";
.menu > ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
  
    list-style: none;
  }
  
  .menu > ul > li {
    text-decoration: none;
  }
  
  .menu a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
  }
  
  .menu  a:hover{
      color: var(--hover-link-color);
  }

  .menu .active_link{
    color: var(--active-link-color);
  }
