@import "../variables.css";
.menu ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
  
    list-style: none;
  }
  
  .menu > ul > li {
    text-decoration: none;
  }
  
  .menu a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .menu  a:hover{
      color: var(--hover-link-color);
  }

  .menu .active_link{
    color: var(--active-link-color);
  }

  
  /* Mobile section */

  .hamburger_icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  .hamburger_icon .bar {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .open .menuMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menuMobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menuMobile{
    display: none;
    width: 100%;
    height: calc(100vh - 51px - var(--main-padding-top) - var(--main-padding-bottom) );  /*height = 100vh -  header height - header padding top - header padding bottom*/
    background-color: var(--primary-bg);
    z-index: 999;
    position: absolute;
    top: calc(51px + var(--main-padding-top) + var(--main-padding-bottom));
    left: 0;
  }
  
  
  @media only screen and (max-width: 1200px) {
    header nav .menuScreen {
      display: none;
    }
  
    .hamburger_icon {
      display: block;
    }
  }
  @media only screen and (orientation: landscape) and (max-width: 1024px) {
    .menuMobile ul {
      gap: 20px;
      width: 90%;
    }

  }