.message{
    display: flex;
    flex-direction: row;
    color: var(--primary-text-color);
    /* padding-top: 90px; */
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-left);
    min-height: inherit;
    background-image: url("../../images/bg.svg");
    background-size: cover;
    backdrop-filter: blur(5px);
    
    /* align-items: center; */
}

.left{
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left textarea{
    resize: none;
    width: 80%;
    height: 30%;
    border: 2px dotted black;
    font-size: 24px;
}

.right{
    width: 50%;
    min-height: 100%;
    margin-top: -65px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: flex-end;
}

.right h1{
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    text-align: right;
    line-height: 70px;
}

.right p{
    width: 70%;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
    line-height: 1.6;
    text-align: right;
}

.right img{
    width: 60%;
}

@media (max-width: 576px) {
    .message{
        flex-direction: column;
        padding-left: var(--padding-left-small);
        padding-right: var(--padding-right-small);
        align-items: center;
        justify-content: center;
    }   
    .left{
        width: 100%;
        order: 2;
        height: 200px;
    }
    .left textarea{
        width: 80%;
        height: 100%;
    }
    .right{
        width: 100%;
        margin: 0;
        order: 1;
        align-items: center;
    }
    .right h1{
        margin: 0;
        font-size: 40px;
        font-weight: bold;
        line-height: normal;
    }
    .right p{
        width: 100%;
        text-align: center;
    }
    
}

@media (min-width: 577px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}