@import "../variables.css";
.welcome{
    display: flex;
    flex-direction: row;
    color: var(--primary-text-color);
    padding-top: 34px;
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-left);
}

.left{
    width: 50%;
    height: 100%;
    padding-top: 20px;

}
.left h1{
    margin: 0;
    font-size: 60px;
    font-weight: bold;
}

.left p{
    width: 70%;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
    line-height: 1.6;
}


.right{
    width: 50%;
    height: 100%;
    padding-top: 40px;
}

.right img{
    width: 100%;
}

@media (max-width: 576px) {
    .welcome{
        height: 100%;
        padding-left: var(--padding-left-small);
        padding-right: var(--padding-right-small);
        flex-direction: column;
        text-align: center;
        padding-bottom: var(--main-padding-bottom);
        padding-top: 90px;
    }
    .left{
        width: 100%;
    }
    .left h1{
        font-size: 30px;
    }
    .left p{
        width: 100%;
    }

    .right{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .welcome{
        height: 70vh;
        padding-left: var(--padding-left-medium);
        padding-right: var(--padding-right-medium);
        flex-direction: column;
        text-align: center;
        padding-bottom: var(--main-padding-bottom);
        padding-top: 90px;
    }
    .left{
        width: 100%;
    }
    .left h1{
        font-size: 30px;
    }
    .left p{
        width: 100%;
    }

    .right{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .welcome{
        height: 70vh;
        padding-left: var(--padding-left-large);
        padding-right: var(--padding-right-large);
        flex-direction: column;
        text-align: center;
        padding-bottom: var(--main-padding-bottom);
        padding-top: 90px;
    }
    .left{
        width: 100%;
    }
    .left h1{
        font-size: 30px;
    }
    .left p{
        width: 100%;
    }

    .right{
        display: none;
    }
}