@import "../variables.css";
.welcome{
    display: flex;
    flex-direction: row;
    color: var(--primary-text-color);
    padding-top: 34px;
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-left);
}

.left{
    width: 50%;
    height: 100%;
    padding-top: 20px;

}
.left h1{
    margin: 0;
    font-size: 60px;
    font-weight: bold;
}

.left p{
    width: 70%;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
    line-height: 1.6;
}


.right{
    width: 50%;
    height: 100%;
    padding-top: 40px;
}

.right img{
    width: 100%;
}

@media (max-width: 576px) {
    .welcome{
        min-height: inherit;
        padding-left: var(--padding-left-small);
        padding-right: var(--padding-right-small);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* padding-bottom: var(--main-padding-bottom); */
        padding-top: 0;
    }
    .left{
        width: 100%;
        padding-top: 0;
    }
    .left h1{
        font-size: 30px;
    }
    .left p{
        width: 100%;
        margin-bottom: 35px;
        margin-top: 20px;
    }

    .right{
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .welcome{
        min-height: inherit;
        padding-left: var(--padding-left-medium);
        padding-right: var(--padding-right-medium);
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-bottom: var(--main-padding-bottom);
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 2;
    }
    .left h1{
        font-size: 30px;
    }
    .left p{
        width: 100%;
    }

    .right{
        width: 100%;
        order: 1;
    }
    .right img{
        width: 90%;
        height: 30%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .welcome{
        min-height: inherit;
        padding-left: var(--padding-left-medium);
        padding-right: var(--padding-right-medium);
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 0;
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 2;
    }
    .left h1{
        font-size: 30px;
    }
    .left p{
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .right{
        width: 100%;
        order: 1;
    }
    .right img{
        width: 50%;
        height: 30%;
    }
}